{% extends "base.html" %}

{% block content %}
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Hello {{user.get_full_name}} </h1>
    </div>
</div>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Welcome to Our Teacher Parent Interactive LMS</h1>
        <p>Des
        <b>c
        <i>
        ri
        </i>
        </b> ption
        </p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'tests' %}">View Results</a>
    </div>
</div>

{% endblock %}