{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="column">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <h2>Sign Up</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        Sign up as a
                        <a href="{% url 'loginform' 'student' %}">Student</a>
                    </div>
                    <div class="form-group">
                        Sign up as a
                        <a href="{% url 'loginform' 'parent' %}">Parent/Guardian</a>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    Do you already have an account? <a href="{% url 'loginuser' %}">Login here</a>
                </div><br><br><br>
            </div>
        </div>
    </div>
</div>


{% endblock %}