{% extends "base.html" %}

{% block content %}
{% if tests %}
<table class="table table-striped table-hover" >
    <thead>
        <tr>
            <th scope="col" style="text-align: center;">Test ID</th>
            <th scope="col" style="text-align: center;">Student Name</th>
            <th scope="col" style="text-align: center;">Class</th>
            <th scope="col" style="text-align: center;">Marked by</th>
            <th scope="col" style="text-align: center;">Obtained Marks</th>
            <th scope="col" style="text-align: center;">Total Marks</th>
            <th scope="col" style="text-align: center;">Percentage</th>
            <th scope="col" style="text-align: center;">Remarks</th>
            <th scope="col" style="text-align: center;">Test Date</th>
        </tr>
    </thead>
    <tbody>
        {% for test in tests %}
        <tr>
            <td class="align-middle" style="text-align: center;">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="test_detail" value="{{test.test_id_id}}">
                    <button class="btn btn-link">{{test.test_id}}</button>
                </form>

            </td>
            <td class="align-middle" style="text-align: center;">
                {% comment %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="student" value="{{test.student_id_id}}">
                    <button class="btn btn-link">{{test.student_id}}</button>
                </form>
                {% endcomment %}
                <a href="{% url 's_tests' test.student_id_id %}">{{test.student_id}}</a>
            </td>
            <td class="align-middle" style="text-align: center;">{{test.test_id.standard}}</td>
            <td class="align-middle" style="text-align: center;">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="instructor" value="{{test.test_id.teacher_id_id}}">
                    <button class="btn btn-link">{{test.test_id.teacher_id}}</button>
                </form>
            </td>
            <td class="align-middle" style="text-align: center;">{{test.obtained_marks}}</td>
            <td class="align-middle" style="text-align: center;">{{test.test_id.total_marks}} </td>
            <td class="align-middle" style="text-align: center;">{{test.percentage|floatformat:"2"}}</td>
            <td class="align-middle" style="text-align: center;">{{test.remarks}}</td>
            <td class="align-middle" style="text-align: center;">{{test.test_id.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif instructor %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" style="text-align: center;">Instructor Name</th>
            <th scope="col" style="text-align: center;">Phone No.</th>
        </tr>
    </thead>
    <tbody>
        {% for i in instructor %}
        <tr>
            <td class="align-middle" style="text-align: center;">{{i.name}}</td>
            <td class="align-middle" style="text-align: center;">{{i.phone}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif test %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" style="text-align: center;">Test ID</th>
            <th scope="col" style="text-align: center;">Subject</th>
            <th scope="col" style="text-align: center;">Total Marks</th>
            <th scope="col" style="text-align: center;">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for i in test %}
        <tr>
            <td class="align-middle" style="text-align: center;">{{i.test_id}}</td>
            <td class="align-middle" style="text-align: center;">{{i.subject}}</td>
            <td class="align-middle" style="text-align: center;">{{i.total_marks}}</td>
            <td class="align-middle" style="text-align: center;">{{i.date|date:'M j Y'}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% comment %}
<ul>
    {% for test in tests %}
    <li></li>
    <li>{{test.student_id}}</li>
    <li>{{test.teacher_id}}</li>
    <li>{{test.test_id}}</li>
    <li>{{test.remarks}}</li>
    <br>

    {% endfor %}
</ul>
{% endcomment %}

{% endblock %}