{% extends "base.html" %}

{% block content %}
{% if tests %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Test ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Class</th>
            <th scope="col">Marked by</th>
            <th scope="col">Obtained Marks</th>
            <th scope="col">Total Marks</th>
            <th scope="col">Percentage</th>
            <th scope="col">Remarks</th>
            <th scope="col">Test Date</th>
        </tr>
    </thead>
    <tbody>
        {% for test in tests %}
        <tr>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="test_detail" value="{{test.test_id_id}}">
                    <button class="btn btn-link">{{test.test_id}}</button>
                </form>

            </td>
            <td>
                {% comment %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="student" value="{{test.student_id_id}}">
                    <button class="btn btn-link">{{test.student_id}}</button>
                </form>
                {% endcomment %}
                <a href="{% url 's_tests' test.student_id_id %}">{{test.student_id}}</a>
            </td>
            <td>{{test.test_id.standard}}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="instructor" value="{{test.test_id.teacher_id_id}}">
                    <button class="btn btn-link">{{test.test_id.teacher_id}}</button>
                </form>
            </td>
            <td>{{test.obtained_marks}}</td>
            <td>{{test.test_id.total_marks}} </td>
            <td>{{test.percentage|floatformat:"2"}}</td>
            <td>{{test.remarks}}</td>
            <td>{{test.test_id.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif instructor %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Instructor Name</th>
            <th scope="col">Phone No.</th>
        </tr>
    </thead>
    <tbody>
        {% for i in instructor %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif test %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Test ID</th>
            <th scope="col">Subject</th>
            <th scope="col">Total Marks</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for i in test %}
        <tr>
            <td>{{i.test_id}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.total_marks}}</td>
            <td>{{i.date|date:'M j Y'}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% comment %}
<ul>
    {% for test in tests %}
    <li></li>
    <li>{{test.student_id}}</li>
    <li>{{test.teacher_id}}</li>
    <li>{{test.test_id}}</li>
    <li>{{test.remarks}}</li>
    <br>

    {% endfor %}
</ul>
{% endcomment %}

{% endblock %}